


    <div id="data-list">
        <div class="dflex-sb modal-header">
            <button class="blue" onclick="closeModal('data-list')"><i class="fa-solid fa-chevron-left"></i></button>
            <h4>Add Data</h4>
            <p>&nbsp;</p>
        </div>
            
        <div class="modal-body-container">
            <div>
                <br>
                <div class="dflex-sb">
                    <input type="text" id="search-data-tb" onkeyup="searchBox(this)">
                    <button class="blue" id="add-data-btn" onclick="addToLFC()" disabled><i class="fas fa-plus"></i></button>
                    
                </div>
                <table id="data-table"></table>
            </div>
        </div>
    </div>

    <div id="bet-info">
       <div class="dflex-sb modal-header">
            <button class="blue" onclick="closeModal('bet-info')"><i class="fa-solid fa-chevron-left"></i></button>
            <div class="modal-title-container">
                <p class="title" id="bet-number-title">1 312 412</p>
                <p class="label">Bet Number</p>
            </div>
            <button class="orange"><i class="fas fa-edit"></i></button>
       </div>

       <div class="modal-body-container" id="bet-info-edit">
        <div class="dflex-sb match-form">
            <table class="teams-table">
                <tr>
                    <td>
                        <p class="label">Sport</p>
                        <select id="sports-sb"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="label">League</p>
                        <div>
                            <textarea row="2" id="league-tb" class="team-tb" onclick="addData('league')" readonly></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="label team-home">Home Team Name</p>
                        <div>
                            <textarea row="2" id="home-tb" class="team-tb" onclick="addData('home')" readonly></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="label team-away">Away Team Name</p>
                        <div>
                            <textarea row="2" id="away-tb" class="team-tb" onclick="addData('away')" readonly></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="match-date-td">
                        <p class="label">Match Date</p>
                        <div>
                            <input type="datetime-local" id="match-date-picker">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="dflex-sb" id="ne-books">
            <div>
                <p class="label">Softbook</p>
                <select id="softbook-sb"></select>
            </div>
            <div>
                <p class="label">Sharpbook</p>
                <select id="sharpbook-sb"></select>
            </div>
        </div>
        
        <div class="dflex-sb bet-type">
            <div>
                <p class="label">Market Type</p>
                <input type="text" id="market-type-tb" onclick="addData('market-type')" readonly>
            </div>
            <div>
                <p class="label">Value</p>
                <input type="text" class="ta-right" id="market-type-value-tb">
            </div>
        </div>

        <div class="bet-form">
            <div class="dflex-sa">
                <p class="label">Odds</p>
                <p class="label">Stake & Payouts</p>
            </div>
            <div class="dflex-sa">
                <div class="bet-odds-container">
                    <p class="label team-home">Home</p>
                    <div>
                        <input type="text" id="bet-home-odds" onblur="checkOddsValidity('home')">
                        <button class="radio" onclick="selectOddsRadio('home', 'bet-odds-container', this)" id="bet-home-odds-btn"><i class="fa-solid fa-check"></i></button>
                    </div>
                    <p class="label">Draw</p>
                    <div>
                        <input type="text" id="bet-draw-odds" onblur="checkOddsValidity('draw')">
                        <button class="radio" onclick="selectOddsRadio('draw', 'bet-odds-container', this)" id="bet-draw-odds-btn"><i class="fa-solid fa-check"></i></button>
                    </div>
                    <p class="label team-away">Away</p>
                    <div>
                        <input type="text" id="bet-away-odds" onblur="checkOddsValidity('away')">
                        <button class="radio" onclick="selectOddsRadio('away', 'bet-odds-container', this)" id="bet-away-odds-btn"><i class="fa-solid fa-check"></i></button>
                    </div>
                </div>
                <div class="stake-payouts-container">
                    <p class="label">Stake (₱)</p>                
                    <div class="dflex-sb">
                        <button class="blue" onclick="roundOff(true)"><i class="fa-solid fa-arrow-down"></i></button>
                        <input type="text" onblur="calculatePayouts()" id="bet-amount">
                        <button class="blue" onclick="roundOff(false)"><i class="fa-solid fa-arrow-up"></i></button>
                    </div>
                    <p class="label">Payout (₱)</p>                
                    <input type="text" id="bet-payout" disabled>
                    <p class="label">Payout (incl. bet) (₱)</p>
                    <input type="text" id="bet-payout-2" disabled>
                </div>
            </div>
        </div>

        <div id="order-date-div">
            <p class="label">Order Date</p>
            <div>
                <div>
                    <input type="datetime-local" id="order-date-picker">
                </div>
            </div>
        </div>
        
        <div class="dflex-sb" id="bet-notes-div">            
            <textarea rows="5" id="notes-ta"></textarea>
        </div>

        <div class="dflex-sb status-closing-odds-div">            
            <div>
                <p class="label">Status</p>
                <div>
                    <select id="bet-status-sb">
                        <option value="running">Running</option>
                        <option value="won">Won</option>
                        <option value="lose">Lose</option>
                        <option value="pushed">Pushed</option>
                        <option value="voided">Voided</option>
                    </select>
                </div>
            </div>
            <div>
                <p class="label">Closing Odds</p>
                <div>
                    <input type="text" class="ta-right" id="bet-closing-odds-tb">
                </div>
            </div>
        </div>
        <div class="dflex-sb main-btn-div" id="update-bet-btn-div"></div>

       </div>
       <div class="modal-body-container" id="bet-info-view">
            <div class="modal-item-container">
                <p class="title">Bet Inforamtion</p>

                <div class="dflex-sb item-info">
                    <p>Status</p>
                    <p class="won">Won</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Team</p>
                    <p class="team-home">Miami Heat</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Odds</p>
                    <p>2.66</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Stake</p>
                    <p>
                        <span class="peso">₱ </span>
                        100.00
                    </p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Payout</p>
                    <p class="won">
                        <span class="peso">₱ </span>
                        100.00
                    </p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Payout (incl. bet)</p>
                    <p>
                        <span class="peso">₱ </span>
                        100.00
                    </p>
                </div>

                <div class="dflex-sb item-info no-bottom-border">
                    <p>Time</p>
                    <p>July 13, 2025 22:30</p>
                </div>
            </div>

            <div class="modal-item-container">
                <p class="title">Stake Inforamtion</p>

                <div class="dflex-sb item-info">
                    <p>Type</p>
                    <p>+EV</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>EV / Edge</p>
                    <p>
                        <span class="won">0.1556</span> / <span class="won">15.56%</span>
                    </p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Kelly Criterion</p>
                    <p>Quarter Kelly</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>BingoPlus's Odds</p>
                    <p>3.56</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>Pinancle's Odds</p>
                    <p>2.56</p>
                </div>

                <div class="dflex-sb item-info no-bottom-border">
                    <p><span class="team-home">Home</span>'s True Chance of Winning</p>
                    <p>46%</p>
                </div>
            </div>

            <div class="modal-item-container">
                <p class="title">Match Inforamtion</p>

                <div class="dflex-sb item-info team-home">
                    <p>Home</p>
                    <p>Miami Heat (2.66)</p>
                </div>

                <div class="dflex-sb item-info team-away">
                    <p>Away </p>
                    <p>Chicago Bulls (1.55)</p>
                </div>

                <div class="dflex-sb item-info">
                    <p>League</p>
                    <p>New Zealand NBL</p>
                </div>

                <div class="dflex-sb item-info no-bottom-border">
                    <p>Date</p>
                    <p>July 13, 2025 22:30</p>
                </div>
            </div>
       </div>
    </div>

    <div id="bet-history">
        <divt id="bets-view-div">
            <select id="bets-view-sb" onchange="changeBetsView(this.value)">
                <option value="all">All Bets</option>
                <option value="running">Running Bets</option>
                <option value="won">Won Bets</option>
                <option value="lose">Lose Bets</option>
                <option value="pushed">Pushed Bets</option>
                <option value="voided">Voided Bets</option>
            </select>
        </div>
        <div class="list-container">
            <ul class="detailed" id="bets-ul">
                <!--<li>
                    <div class="item-header">
                        <p class="ta-left">
                            <span class="number">#333339</span>
                        </p>
                        <p class="running ta-center">Click Sync Button</p>
                        <p class="running ta-right">
                            <span class="peso">₱ </span>
                            Click Sync Button
                        </p>
                    </div>
                    <div class="item-body">
                        <div class="league-match-date">
                            <p class="league"Click Sync Button</p>
                        </div>
                        <p class="matchup">
                            <span class="team-home">Click Sync Button</span> vs <span class="team-away">Click Sync Button</span>
                        </p>
                        <div class="odds-payouts">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <p class="label">Pick</p>
                                        <div class="sportsbook-name">
                                            <p>Click Sync Button</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tr-2-td-1">
                                        <p class="label">Sportsbook</p>
                                        <div class="sportsbook-name">
                                            <p>Click Sync Button</p>
                                        </div>
                                    </td>
                                    <td class="ta-right">
                                        <p class="label">Odds</p>
                                        <p class="odds">8.8</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ta-right">
                                        <p class="label ta-center">Expected Value (S/P/N) (%)</p>
                                        <div class="positive-ev">
                                            <table class="ev-table">
                                                <tr>
                                                    <td>
                                                        <p class="lose">Click Sync Button</p>
                                                    </td>
                                                    <td>
                                                        <p class="won">Click Sync Button</p>
                                                    </td>
                                                    <td>
                                                        <p class="won">Click Sync Button</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td class="ta-right">
                                        <p class="label">Stake</p>
                                        <p class="stake">
                                            <span class="peso">₱ </span>
                                            Click Sync Button
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="label">Order Date</p>
                                        <p class="payout">
                                            Click Sync Button
                                        </p>
                                    </td>
                                    <td class="ta-right">
                                        <p class="label">Payout</p>
                                        <p class="payout">
                                            <span class="peso">₱ </span>
                                            Click Sync Button
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button class="blue" onclick="getBetInfo()"><i class="fa-solid fa-circle-info"></i></button>

                        <div class="order-date">
                            <p class="label">Settlement Date</p>
                            <p>Click Sync Button</p>
                        </div>

                        <button class="orange"><i class="fas fa-edit"></i></button>
                    </div>
                </li>-->
                
            </ul>
        </div>
        
    </div>
